guidelines.md
*.pdb
*.gro
*.zip
*.tpr
*.edr
*.log
*.trr
*.swp
*.xvg
*.offsets
*.cpt
*.err
*.out
*.xtc
*.ndx
*.itp
*.top
*.mol2
*.stdin
log.*
.ipynb_checkpoints/
protein_wf_haddock/notebooks/*/
protein_wf_haddock/notebooks/*.png
protein_wf_haddock/notebooks/*.gif
protein_wf_haddock/notebooks/*.web*.ipynb
protein_wf_haddock/notebooks/*.docs.ipynb
protein_wf_haddock/docs/notebooks
protein_wf_haddock/html/protein_wf_haddock.web.ipynb
data/

*.old.ipynb
*.bk.ipynb
\#*\#
.DS_Store